.menu--container {
  background-color: #4a6fa5;
  position: sticky;
  top: 0;
  display: -webkit-box;
  height: 100vh;
}

.menu--container ul {
  list-style: none;
}

.menu--container ul li a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 2rem 2rem;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}